In [8]:
import sys
sys.path.append('./../../')

# OPTIONAL: Load the "autoreload" extension so that code can change
%load_ext autoreload

#Own Library modules
import src
# OPTIONAL: always reload modules so that as you change code in src, it gets loaded
%autoreload 2

from src.data_transformation import clean_functions as cf

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
datos_limpios = cf.prepara_datos()

In [11]:
datos_limpios.head()

,nofolio,genero,ent,nom_ent,cct,modalidad,sost,subsist,hlec,nvl_esp,...,p146,p147,p148,p149,p150,p151,p152,p153,p154,fac
0,010000023b16,b,1,aguascalientes,01dbh0004i,bachillerato_general,federal,dgb,-0.76369,i,...,1.0,1.0,1.0,1.0,2.0,3.0,1.0,3.0,2.0,1.828571
1,010000037b16,a,1,aguascalientes,01dbh0004i,bachillerato_general,federal,dgb,0.97389,iii,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,5.0,3.0,1.828571
2,010000008b16,b,1,aguascalientes,01dbh0004i,bachillerato_general,federal,dgb,0.26655,ii,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,3.0,2.0,1.828571
3,010000035b16,a,1,aguascalientes,01dbh0004i,bachillerato_general,federal,dgb,0.36393,ii,...,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.828571
4,010000032b16,a,1,aguascalientes,01dbh0004i,bachillerato_general,federal,dgb,0.97389,iii,...,1.0,1.0,1.0,1.0,1.0,2.0,2.0,3.0,3.0,1.828571

In [14]:
datos_limpios['nom_ent'].unique().tolist()

['aguascalientes',
 'baja_california',
 'baja_california_sur',
 'campeche',
 'coahuila',
 'colima',
 'chiapas',
 'chihuahua',
 'distrito_federal',
 'durango',
 'guanajuato',
 'guerrero',
 'hidalgo',
 'jalisco',
 'estado_de_mexico',
 'michoacan',
 'morelos',
 'nayarit',
 'nuevo_leon',
 'oaxaca',
 'puebla',
 'queretaro',
 'quintana_roo',
 'san_luis_potosi',
 'sinaloa',
 'sonora',
 'tabasco',
 'tamaulipas',
 'tlaxcala',
 'veracruz',
 'yucatan',
 'zacatecas']

In [16]:
#list(datos_limpios.columns)

In [12]:
cf.cuenta_nulos_por_columnas(datos_limpios)

El dataframe tiene 167 columnas.
Hay 154 columnas que tienen NA's.

      Missing Values  % del Total
p134           21246          3.8
p144           13825          2.5
p5             13160          2.3
p70            11252          2.0
p153           11244          2.0
...              ...          ...
p11             1007          0.2
p6               991          0.2
p10              922          0.2
p15              804          0.1
p1               434          0.1

[154 rows x 2 columns]

In [ ]:
cf.cuenta_nulos_por_renglones(datos_limpios)